language: node_js
node_js:
- node
- '6'
cache:
  npm: true
  directories:
  - $HOME/.m2/repository # Maven cache
addons:
  chrome: stable
script: npm run all

before_deploy:
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > ~/.npmrc

deploy:
  skip_cleanup: true
  provider: script
  script: npm run lerna:publish
  on:
    branch: master
    node: 'node' # this should be quoted; otherwise, 0.10 would not work
    tags: true
