language: node_js
node_js:
  - node
  - 8
jdk:
  - openjdk11
addons:
  chrome: stable
  apt:
    packages:
      - libunwind-dev
      - libre2-dev
before_script:
  - sudo curl -Lo /usr/local/bin/sbt https://raw.githubusercontent.com/paulp/sbt-extras/master/sbt
script: npm run all

before_deploy:
  - echo $PGP_SECRET | base64 --decode | gpg --import
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > ~/.npmrc

deploy:
  skip_cleanup: true
  provider: script
  script: npm run lerna:publish
  on:
    branch: master
    node: 'node' # this should be quoted; otherwise, 0.10 would not work
    tags: true

cache:
  npm: true
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.m2/repository
    - $HOME/.cache/coursier
before_cache:
  - 'find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete'
  - 'find $HOME/.sbt        -name "*.lock"               -print -delete'
  - 'find $HOME/.ivy2/      -name "io.stryker-mutator*"  -print -exec rm -rf {} +'
