@import '../../style/bootstrap-reboot.scss'; // import the variables

// Bootstrap theming =================================================
:host(:not([theme='dark'])) {
  --bs-link-color: #{$link-color};
  --bs-link-hover-color: #{$link-hover-color};
  --bs-breadcrumb-bg: #{$breadcrumb-bg};
  --bs-breadcrumb-active-color: #{$breadcrumb-active-color};
  --bs-body-bg: #{$body-bg};
  --bs-body-color: #{$body-color};
  --bs-card-bg: #{$card-bg};
  --bs-card-border-color: #{$card-border-color};
  --bs-card-cap-bg: #{$gray-200};
  --bs-list-group-hover-bg: #{$list-group-hover-bg};
  --bs-list-group-bg: #{$list-group-bg};
  --bs-list-group-border-color: #{$list-group-border-color};
  --bs-table-border-color: #{$table-border-color};
  --bs-table-hover-bg: #{$table-hover-bg};
  --bs-popover-bg: #{$popover-bg};
  --bs-popover-header-bg: #{$popover-header-bg};
  --bs-progress-bg: #{$progress-bg};

  @each $color, $value in $theme-colors {
    --bs-table-#{$color}-bg: #{theme-color-level($color, $table-bg-level)};
    --bs-table-#{$color}-hover-bg: #{darken($value, 5%)};
    --bs-badge-#{$color}-color: #{color-yiq($value)};
    --bs-badge-#{$color}-bg: #{$value};
    --bs-btn-#{$color}-color: #{color-yiq($value)};
    --bs-btn-#{$color}-hover-color: #{color-yiq(darken($value, 7.5%))};
    --bs-#{$color}-bg: #{$value};
    --bs-#{$color}-bg-light: #{rgba($value, 0.25)};
  }
  --bs-anchor: #{$darkly-white};
  --bs-nav-tabs-link-hover-border-color: #{$nav-tabs-link-hover-border-color};
  --bs-nav-tabs-link-active-color: #{$nav-tabs-link-active-color};
  --bs-nav-tabs-link-active-bg: #{$nav-tabs-link-active-bg};
  --bs-nav-tabs-link-active-border-color: #{$nav-tabs-link-active-border-color};
  --bs-nav-tabs-border-color: #{$nav-tabs-border-color};
}
:host([theme='dark']) {
  --bs-link-color: #{$darkly-link-color};
  --bs-link-hover-color: #{$darkly-link-hover-color};
  --bs-breadcrumb-bg: #{$darkly-breadcrumb-bg};
  --bs-breadcrumb-active-color: #{$darkly-breadcrumb-active-color};
  --bs-body-bg: #{$darkly-body-bg};
  --bs-body-color: #{$darkly-body-color};
  --bs-card-bg: #{$darkly-card-bg};
  --bs-card-border-color: #{$darkly-card-border-color};
  --bs-card-cap-bg: #{$darkly-card-cap-bg};
  --bs-list-group-hover-bg: #{$darkly-list-group-hover-bg};
  --bs-list-group-bg: #{$darkly-list-group-bg};
  --bs-list-group-border-color: #{$darkly-list-group-border-color};
  --bs-table-border-color: #{$darkly-table-border-color};
  --bs-table-hover-bg: #{$darkly-table-hover-bg};
  --bs-popover-bg: #{$darkly-popover-bg};
  --bs-popover-header-bg: #{$darkly-popover-header-bg};
  --bs-progress-bg: #{$darkly-progress-bg};

  @each $color, $value in $darkly-theme-colors {
    --bs-table-#{$color}-bg: #{$value};
    --bs-table-#{$color}-hover-bg: #{darken($value, 5%)};
    --bs-badge-#{$color}-color: #{color-yiq($value)};
    --bs-badge-#{$color}-bg: #{$value};
    --bs-btn-#{$color}-color: #{color-yiq($value)};
    --bs-btn-#{$color}-hover-color: #{color-yiq(darken($value, 7.5%))};
    --bs-#{$color}-bg: #{$value};
    --bs-#{$color}-bg-light: #{rgba($value, 0.25)};
  }
  --bs-nav-tabs-link-hover-border-color: #{$darkly-nav-tabs-link-hover-border-color};
  --bs-nav-tabs-link-active-color: #{$darkly-nav-tabs-link-active-color};
  --bs-nav-tabs-link-active-bg: #{$darkly-toast-background-color};
  --bs-nav-tabs-link-active-border-color: #{$darkly-nav-tabs-link-active-border-color};
  --bs-nav-tabs-border-color: #{$darkly-nav-tabs-border-color};
}

// Prismjs theming (code highlighting) =====================================
:host(:not([theme='dark'])) {
  --prism-maintext: #393a34;
  --prism-background: #f6f8fa;
  --prism-border: #ddd;

  // from https://github.com/FormidableLabs/prism-react-renderer/blob/master/src/themes/github.js
  --prism-operator: var(--prism-maintext);
  --prism-punctuation: var(--prism-maintext);

  --prism-atrule: #00a4db;
  --prism-attr: var(--prism-atrule);
  --prism-selector: var(--prism-atrule);

  --prism-cdata: #999988;
  --prism-comment: var(--prism-cdata);
  --prism-doctype: var(--prism-cdata);
  --prism-prolog: var(--prism-cdata);

  --prism-deleted: #6f42c1;
  --prism-function: var(--prism-deleted);
  --prism-tag: var(--prism-deleted);

  --prism-boolean: #36acaa;
  --prism-constant: var(--prism-boolean);
  --prism-entity: var(--prism-boolean);
  --prism-inserted: var(--prism-boolean);
  --prism-number: var(--prism-boolean);
  --prism-property: var(--prism-boolean);
  --prism-regex: var(--prism-boolean);
  --prism-symbol: var(--prism-boolean);
  --prism-url: var(--prism-boolean);
  --prism-variable: var(--prism-boolean);

  --prism-attr: #e3116c;
  --prism-string: var(--prism-attr);

  --prism-keyword: #00009f;
  --prism-selector: var(--prism-keyword);
  --prism-tag: var(--prism-keyword);
}
:host([theme='dark']) {
  // From https://atelierbram.github.io/syntax-highlighting/prism/demo/assets/css/prism-base16-eighties.dark.css
  --prism-maintext: #d3d0c8;
  --prism-background: #2d2d2d;
  --prism-border: #393939;

  --prism-cdata: #747369;
  --prism-comment: var(--prism-cdata);
  --prism-doctype: var(--prism-cdata);
  --prism-prolog: var(--prism-cdata);

  --prism-punctuation: #d3d0c8;

  --prism-attr-name: #f99157;
  --prism-boolean: var(--prism-attr-name);
  --prism-number: var(--prism-attr-name);
  --prism-operator: var(--prism-attr-name);

  --prism-property: #ffcc66;

  --prism-placeholder: #6699cc;
  --prism-tag: var(--prism-placeholder);
  --prism-variable: var(--prism-placeholder);

  --prism-selector: #cc99cc;
  --prism-keyword: var(--prism-selector);

  --prism-atrule: #66cccc;
  --prism-entity: var(--prism-atrule);
  --prism-regex: var(--prism-atrule);
  --prism-statement: var(--prism-atrule);
  --prism-string: var(--prism-atrule);
  --prism-url: var(--prism-atrule);

  --prism-attr-value: #99cc99;
  --prism-control: var(--prism-attr-value);
  --prism-directive: var(--prism-attr-value);
  --prism-unit: var(--prism-attr-value);

  --prism-important: #ab4642;
}

// File icon theming ================================
// @see https://github.com/microsoft/vscode/blob/master/extensions/theme-seti/icons/vs-seti-icon-theme.json
:host(:not([theme='dark'])) {
  --mut-file-ts-color: #498ba7;
  --mut-file-ts-test-color: #b7b73b;
  --mut-file-scala-color: #b8383d;
  --mut-file-java-color: #b8383d;
  --mut-file-js-color: #b7b73b;
  --mut-file-js-test-color: #cc6d2e;
  --mut-file-php-color: #9068b0;
  --mut-file-html-color: #498ba7;
  --mut-file-csharp-color: #498ba7;
  --mut-file-vue-color: #7fae42;
}
:host([theme='dark']) {
  --mut-file-ts-color: #519aba;
  --mut-file-ts-test-color: #cbcb41;
  --mut-file-scala-color: #cc3e44;
  --mut-file-java-color: #cc3e44;
  --mut-file-js-color: #cbcb41;
  --mut-file-js-test-color: #e37933;
  --mut-file-php-color: #a074c4;
  --mut-file-html-color: #519aba;
  --mut-file-csharp-color: #519aba;
  --mut-file-vue-color: #8dc149;
}

// Mutation testing elements custom theming ================================
:host(:not([theme='dark'])) {
  --mut-octicon-icon-color: #498ba7;
}
:host([theme='dark']) {
  --mut-octicon-icon-color: #519aba;
}
