#report-code-block {
  // Don't show scrollbar in code block, the page already scrolls
  // Also let the popup appear outside the code block boundaries
  overflow-y: visible;
  overflow-x: auto;
  background: var(--prism-background);
  border: 1px solid var(--prism-border);
}

.line-numbers {
  counter-reset: mte-line-number;
}

.line .line-number {
  text-align: right;
  padding: 0px 10px 0px 15px;
  color: var(--mut-line-number);
  counter-increment: mte-line-number;

  &:before {
    content: counter(mte-line-number);
  }
}

.line-marker::before {
  content: ' ';
  padding: 0px 5px;
}
