/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

code[class*='language-'],
pre[class*='language-'] {
  color: var(--prism-maintext);
  direction: ltr;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre > code[class*='language-'] {
  font-size: 1em;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border: 1px solid var(--prism-border);
  border-radius: 0.25rem;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--prism-background);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.italic,
.token.cdata {
  font-style: italic;
}

.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}

.token.namespace {
  opacity: 0.7;
}

.token.atrule {
  color: var(--prism-atrule);
}
.token.attr {
  color: var(--prism-attr);
}
.token.attr-name {
  color: var(--prism-attr-name);
}
.token.boolean {
  color: var(--prism-boolean);
}
.token.builtin {
  color: var(--prism-builtin);
}
.token.cdata {
  color: var(--prism-cdata);
}
.token.changed {
  color: var(--prism-changed);
}
.token.char {
  color: var(--prism-char);
}
.token.comment {
  color: var(--prism-comment);
}
.token.constant {
  color: var(--prism-constant);
}
.token.deleted {
  color: var(--prism-deleted);
}
.token.doctype {
  color: var(--prism-doctype);
}
.token.entity {
  color: var(--prism-entity);
  cursor: help;
}
.token.function {
  color: var(--prism-function);
}
.token.function-variable {
  color: var(--prism-function-variable, var(--prism-function));
}
.token.inserted {
  color: var(--prism-inserted);
}
.token.keyword {
  color: var(--prism-keyword);
}
.token.number {
  color: var(--prism-number);
}
.token.operator {
  color: var(--prism-operator);
}
.token.prolog {
  color: var(--prism-prolog);
}
.token.property {
  color: var(--prism-property);
}
.token.punctuation {
  color: var(--prism-punctuation);
}
.token.regex {
  color: var(--prism-regex);
}
.token.selector {
  color: var(--prism-selector);
}
.token.string {
  color: var(--prism-string);
}
.token.symbol {
  color: var(--prism-symbol);
}
.token.tag {
  color: var(--prism-tag);
}
.token.url {
  color: var(--prism-url);
}
.token.variable {
  color: var(--prism-variable);
}
.token.placeholder {
  color: var(--prism-placeholder);
}
.token.statement {
  color: var(--prism-statement);
}
.token.attr-value {
  color: var(--prism-attr-value);
}
.token.control {
  color: var(--prism-control);
}
.token.directive {
  color: var(--prism-directive);
}
.token.unit {
  color: var(--prism-unit);
}
.token.important {
  color: var(--prism-important);
}
.token.class-name {
  color: var(--prism-class-name);
}
