.legend {
  position: sticky;
  top: var(--top-offset, 0);
  background: #FFF;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 10;
}
.badge {
  font-size: 1em;
  cursor: pointer;
}
