.table a {
  display: block;
}
th.rotate {
  /* Something you can count on */
  height: 96px;
  white-space: nowrap;
  padding-bottom: 10px;
}

th.rotate > div {
  transform: translate(27px, 0px) rotate(325deg);
  width: 30px;
}

.table-no-top > thead > tr > th {
  border-width: 0;
}

.table-no-top {
  border-width: 0;
  margin-bottom: 0;
}

.table .no-border-right {
  border-right: none;
}
.table .no-border-left {
  border-left: none;
}

table td.icon {
  color: var(--mut-table-icon-color);
  padding-left: 10px;
  padding-right: 2px;
}

.octicon {
  fill: currentColor;
}

table th.vertical-middle,
table td.vertical-middle {
  vertical-align: middle;
}

.text-default {
  color: #777;
}
