@import "../../style/bootstrap-reboot.scss"; // import the variables

.bg-danger-light {
    background-color: var(--mut-danger-bg, #f2dede);
}

.bg-success-light {
    background-color: var(--mut-success-bg, #dff0d8);
}

.bg-warning-light {
    background-color: var(--mut-warning-bg, #fcf8e3);
}

.bg-caution-light {
    background-color: var(--mut-caution-bg);
}

#report-code-block {
    // Don't show scrollbar in code block, the page already scrolls
    // Also let the popup appear outside the code block boundaries
    overflow: visible;
} 
