@import "../../style/bootstrap-reboot.scss"; // import the variables

.bg-danger-light {
    background-color: var(--danger-background, #f2dede);
}

.bg-success-light {
    background-color: var(--success-background, #dff0d8);
}

.bg-warning-light {
    background-color: var(--warning-background, #fcf8e3);
}

.bg-caution-light {
    background-color: adjust-color($color: theme-color('caution'), $lightness: 40%);
}

#report-code-block {
    // Don't show scrollbar in code block, the page already scrolls
    // Also let the popup appear outside the code block boundaries
    overflow: visible;
} 
