.bg-danger-light {
    background-color: #f2dede;
}

.bg-success-light {
    background-color: #dff0d8;
}

.bg-warning-light {
    background-color: #fcf8e3;
}

code, code.hljs {
    overflow: visible;
    height: 100%;
}

pre {
    overflow: visible;
}