@import '../../style/code.scss';

$test-themes: (
  'Killing': 'success',
  'Covering': 'warning',
  'NotCovering': 'caution',
);

@each $status, $theme in $test-themes {
  svg.test-dot.#{$status} {
    fill: var(--bs-#{$theme});
  }
}

svg.test-dot.selected {
  fill: var(--bs-info);
}

.test-dot {
  cursor: pointer;
}

svg.test-dot {
  margin: 1px 2px;
}
