@import '../../style/code.scss';

$test-themes: (
  'Killing': 'green-700',
  'Covering': 'amber-400',
  'NotCovering': 'orange-500',
);

@each $status, $theme in $test-themes {
  svg.test-dot.#{$status} {
    @apply fill-#{$theme};
  }
}

svg.test-dot.selected {
  @apply fill-sky-400;
}

.test-dot {
  cursor: pointer;
}

svg.test-dot {
  margin: 1px 2px;
}
