@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

// Variable should be kept in sync with 'popupWidth' in  './mutation-test-report-popup.ts'
$popup-width: 200px;

:host {
    position: relative;
    display: inline-block;
    user-select: none;
}

/* The actual popup */
.popover {
    width: $popup-width;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: - $popup-width / 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease-in;
}

/* Popup arrow */
.popover::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

// Taken from bootstrap/scss/utilities/_borders.scs
@each $color, $value in $theme-colors {
  .popover-#{$color}::before {
    border-bottom-color: $value ;
  }
}

.popover.show {
    visibility: visible;
    opacity: 100;
}
