.badge {
  cursor: pointer;
}
.disabled-code {
  text-decoration: line-through;
}

span.badge {
  // Prism adds a default text-shadow to all elements in a code block. We don't want that for the popup text
  text-shadow: none;
}
