.table a {
  display: block;
}

th.rotate {
  /* Something you can count on */
  height: 96px;
  white-space: nowrap;
  padding-bottom: 10px;
}

th.rotate > div {
  transform: translate(27px, 0px) rotate(325deg);
  width: 30px;
}

table td.icon {
  padding-left: 10px;
  padding-right: 2px;
}

a.info-icon {
  text-decoration: none;
  float: right;
}

a:not(:hover) {
  text-decoration: none;
}
