@use 'sass:list';
@use 'sass:map';

@import '../../style/code.css';

$mutant-themes: (
  'Pending': var(--color-neutral-400),
  'Killed': var(--color-green-600),
  'NoCoverage': var(--color-orange-500),
  'Survived': var(--color-red-500),
  'Timeout': var(--color-amber-400),
  'CompileError': var(--color-neutral-400),
  'RuntimeError': var(--color-neutral-400),
  'Ignored': var(--color-neutral-400),
);

// These 2 themes get underlined with a squiggly (wavy) for extra emphasis
$mutant-squiggly: 'Survived', 'NoCoverage';

@each $status, $theme in $mutant-themes {
  @if (list.index($mutant-squiggly, $status) == null) {
    .mte-selected-#{$status} .mutant.#{$status} {
      text-decoration: solid underline #{$theme} 2px;
      text-decoration-skip-ink: none;
      text-underline-offset: 3px;
      cursor: pointer;
    }
  }

  svg.mutant-dot.#{$status} {
    fill: #{$theme};
  }
}

@each $status in $mutant-squiggly {
  .mte-selected-#{$status} .mutant.#{$status} {
    /*
  We want the underline of survived and no-coverage to be 'wavy'.
  Don't use `text-decoration-style: wavy`, because chrome doesn't extend to all characters: https://stackoverflow.com/questions/57559588/how-to-make-the-wavy-underline-extend-cover-all-the-characters-in-chrome
  Use border-image instead.
  */
    border-image-slice: 0 0 4 0;
    border-image-width: 4px;
    border-image-outset: 6px;
    border-bottom-style: solid;
    border-image-repeat: repeat;
    border-image-source: var(--mut-squiggly-#{$status});
    cursor: pointer;

    // Mutant in mutant, don't start another wavy thingy
    .mutant.Survived,
    .mutant.NoCoverage {
      border-image: none;
      border-bottom-style: none;
      text-decoration-line: none;
    }
  }
}

.diff-old {
  background-color: var(--mut-diff-del-bg);
}

.diff-focus {
  background-color: var(--mut-diff-add-bg-line-number);
}

.diff-old .line-number {
  background-color: var(--mut-diff-del-bg-line-number);
  color: var(--mut-diff-del-line-number);
}

.diff-old .line-marker::before {
  content: '-';
}

.diff-new {
  background-color: var(--mut-diff-add-bg);
}

.diff-new .empty-line-number {
  background-color: var(--mut-diff-add-bg-line-number);
  color: var(--mut-diff-add-line-number);
}

.diff-new .line-marker::before {
  content: '+';
}
