@import '../../style/bootstrap-reboot.scss'; // import the variables

@each $color, $value in $theme-colors {
  .mutant-#{$color}, .mutant-#{$color}:after {
    border-color: var(--bs-#{$color});
  }

  svg.#{$color} {
    fill: var(--bs-#{$color});
  }
}

.mutant-success,
.mutant-warning,
.mutant-secondary {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.mutant-caution,
.mutant-danger {
  /*
  Don't use `text-decoration-style: wavy`, because chrome doesn't extend to all characters: https://stackoverflow.com/questions/57559588/how-to-make-the-wavy-underline-extend-cover-all-the-characters-in-chrome
  Use border bottom instead.
  */
  border-image-slice: 0 0 4 0;
  border-image-width: 4px;
  border-image-outset: 4px;
  border-image-repeat: repeat;
}

.mutant-danger {
  border-image-source: var(--mut-squiggly-danger);
}
.mutant-caution {
  border-image-source: var(--mut-squiggly-caution);
}

#report-code-block {
  // Don't show scrollbar in code block, the page already scrolls
  // Also let the popup appear outside the code block boundaries
  overflow: visible;
  background: var(--prism-background);
  border: 1px solid var(--prism-border);
}

mte-mutant {
  background-color: transparent;
  margin-left: 1px;
}

.mutant {
  cursor: pointer;
}

svg.mutant {
  margin: 1px 2px;
}

.line-numbers {
  counter-reset: mte-line-number;
}

.line .line-number {
  text-align: right;
  padding: 0px 10px 0px 15px;
  color: var(--mut-line-number);
  counter-increment: mte-line-number;

  &:before {
    content: counter(mte-line-number);
  }
}

.line-marker::before {
  content: ' ';
  padding: 0px 5px;
}

.diff-old {
  background-color: var(--mut-diff-del-bg);
}

.diff-focus {
  background-color: var(--mut-diff-add-bg-line-number);
}

.diff-old .line-number {
  background-color: var(--mut-diff-del-bg-line-number);
  color: var(--mut-diff-del-line-number);
}

.diff-old .line-marker::before {
  content: '-';
}

.diff-new {
  background-color: var(--mut-diff-add-bg);
}

.diff-new .empty-line-number {
  background-color: var(--mut-diff-add-bg-line-number);
  color: var(--mut-diff-add-line-number);
}

.diff-new .line-marker::before {
  content: '+';
}
