@use 'sass:color';

// Prismjs theming (code highlighting) =====================================
:host(:not([theme='dark'])) {
  --prism-maintext: #393a34;
  --prism-background: #f6f8fa;
  --prism-border: #ddd;

  // from https://github.com/FormidableLabs/prism-react-renderer/blob/master/src/themes/github.js
  --prism-cdata: #999988;
  --prism-comment: var(--prism-cdata);
  --prism-doctype: var(--prism-cdata);
  --prism-prolog: var(--prism-cdata);

  --prism-attr-value: #e3116c;
  --prism-string: var(--prism-attr-value);

  --prism-boolean: #36acaa;
  --prism-entity: var(--prism-boolean);
  --prism-url: var(--prism-boolean);
  --prism-constant: var(--prism-boolean);
  --prism-inserted: var(--prism-boolean);
  --prism-number: var(--prism-boolean);
  --prism-property: var(--prism-boolean);
  --prism-regex: var(--prism-boolean);
  --prism-symbol: var(--prism-boolean);
  --prism-variable: var(--prism-boolean);

  --prism-atrule: #00a4db;
  --prism-attr-name: var(--prism-atrule);
  --prism-attr: var(--prism-atrule);

  --prism-operator: var(--prism-maintext);
  --prism-punctuation: var(--prism-maintext);

  --prism-deleted: #9a050f;
  --prism-function: var(--prism-deleted);

  --prism-function-variable: #6f42c1;

  --prism-selector: #00009f;
  --prism-tag: var(--prism-selector);
  --prism-keyword: var(--prism-selector);
}
:host([theme='dark']) {
  // From https://atelierbram.github.io/syntax-highlighting/prism/demo/assets/css/prism-atom-dark.css
  --prism-maintext: #d3d0c8;
  --prism-background: #1d1f21;
  --prism-border: rgb(var(--mut-gray-200));

  --prism-cdata: #7c7c7c;
  --prism-comment: var(--prism-cdata);
  --prism-doctype: var(--prism-cdata);
  --prism-prolog: var(--prism-cdata);

  --prism-punctuation: #c5c8c6;

  --prism-tag: #96cbfe;
  --prism-property: var(--prism-tag);
  --prism-keyword: var(--prism-tag);

  --prism-class-name: #ffffb6;

  --prism-boolean: #99cc99;
  --prism-constant: var(--prism-boolean);

  --prism-symbol: #f92672;
  --prism-deleted: var(--prism-symbol);

  --prism-number: #ff73fd;

  --prism-inserted: #a8ff60;
  --prism-selector: var(--prism-inserted);
  --prism-attr-name: var(--prism-inserted);
  --prism-string: var(--prism-inserted);
  --prism-char: var(--prism-inserted);
  --prism-builtin: var(--prism-inserted);

  --prism-variable: #c6c5fe;

  --prism-operator: #ededed;

  --prism-entity: #ffffb6;

  --prism-url: #96cbfe;

  --prism-attr-value: #f9ee98;
  --prism-atrule: var(--prism-attr-value);

  --prism-function: #dad085;

  --prism-regex: #e9c062;

  --prism-important: #fd971f;
}

// File icon theming ================================
// @see https://github.com/microsoft/vscode/blob/master/extensions/theme-seti/icons/vs-seti-icon-theme.json
:host(:not([theme='dark'])) {
  --mut-file-ts-color: #498ba7;
  --mut-file-ts-test-color: #b7b73b;
  --mut-file-scala-color: #b8383d;
  --mut-file-java-color: #b8383d;
  --mut-file-js-color: #b7b73b;
  --mut-file-js-test-color: #cc6d2e;
  --mut-file-php-color: #9068b0;
  --mut-file-html-color: #498ba7;
  --mut-file-csharp-color: #498ba7;
  --mut-file-vue-color: #7fae42;
  --mut-file-gherkin-color: #00a818;
  --mut-file-rust-color: #627379;
}
:host([theme='dark']) {
  --mut-file-ts-color: #519aba;
  --mut-file-ts-test-color: #cbcb41;
  --mut-file-scala-color: #cc3e44;
  --mut-file-java-color: #cc3e44;
  --mut-file-js-color: #cbcb41;
  --mut-file-js-test-color: #e37933;
  --mut-file-php-color: #a074c4;
  --mut-file-html-color: #519aba;
  --mut-file-csharp-color: #519aba;
  --mut-file-vue-color: #8dc149;
  --mut-file-gherkin-color: #10b828;
  --mut-file-rust-color: #6d8086;
}

// Mutation testing elements custom theming ================================

@function squiggly-svg-factory($stroke-color) {
  // Color to string
  $stroke-color: '#{$stroke-color}';

  // Escape leading '#' (url encode %23)
  $index: str-index($stroke-color, '#');
  @if $index eq 1 {
    $stroke-color: '%23' + str-slice($stroke-color, 2);
  }
  @return url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' height='3' width='6'><g fill='#{$stroke-color}'><path d='m5.5 0-3 3H1.1l3-3z'/><path d='m4 0 2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/></g></svg>");
}

@function hexToRGB($hexCode) {
  @return red($hexCode) green($hexCode) blue($hexCode);
}

:host(:not([theme='dark'])) {
  --mut-gray-bg: theme('colors.white');
  --mut-octicon-icon-color: #498ba7;
  --mut-line-number: #6e7781;
  --mut-diff-add-bg: #e6ffec;
  --mut-diff-add-bg-line-number: #ccffd8;
  --mut-diff-add-line-number: #24292f;
  --mut-diff-del-bg: #ffebe9;
  --mut-diff-del-bg-line-number: #ffd7d5;
  --mut-diff-del-line-number: var(--mut-diff-add-line-number);
  --mut-badge-info-bg: #54c6ec;
  --mut-badge-info: #212529;
  --mut-code-lense: #919191;

  --mut-squiggly-Survived: #{squiggly-svg-factory(#ef4444)};
  --mut-squiggly-NoCoverage: #{squiggly-svg-factory(#fb923c)};

  --mut-body-bg: #fff;
}
:host([theme='dark']) {
  color-scheme: dark;
  // Manually copied over from tailwind slate range
  // https://tailwindcss.com/docs/customizing-colors#default-color-palette
  // Tailwind Zinc
  $grayRanges: (
    50: #18181b,
    100: #27272a,
    200: #3f3f46,
    300: #52525b,
    400: #71717a,
    500: #a1a1aa,
    600: #d4d4d8,
    700: #e4e4e7,
    800: #f4f4f5,
    900: #fafafa,
  );

  // Tailwind Sky
  $primaryRanges: (
    // 50: #0c4a6e,
    100: #075985,
    // 200: #0369a1,
    // 300: #0284c7,
    // 400: #0ea5e9,
    // 500: #38bdf8,
    // 600: #7dd3fc,
    // 700: #bae6fd,
    800: #e0f2fe,
    900: #f0f9ff,
    // color for 'on' background
    on: #0ea5e9
  );

  @each $range, $value in $grayRanges {
    --mut-gray-#{$range}: #{hexToRGB($value)};
  }

  @each $range, $value in $primaryRanges {
    --mut-primary-#{$range}: #{hexToRGB($value)};
  }

  --mut-body-bg: #{map-get($grayRanges, 50)};

  --mut-white: var(--mut-gray-50);

  --mut-octicon-icon-color: #519aba;
  --mut-line-number: #484f58;
  --mut-diff-add-bg: rgba(46, 160, 67, 0.15);
  --mut-diff-add-bg-line-number: rgba(63, 185, 80, 0.3);
  --mut-diff-add-line-number: #c9d1d9;
  --mut-diff-del-bg: rgba(248, 81, 73, 0.15);
  --mut-diff-del-bg-line-number: rgba(248, 81, 73, 0.3);
  --mut-diff-del-line-number: #c9d1d9;
  --mut-badge-info-bg: #17a3b8;
  --mut-badge-info: #fff;
  --mut-code-lense: #999;

  --mut-squiggly-Survived: #{squiggly-svg-factory(#ef4444)};
  --mut-squiggly-NoCoverage: #{squiggly-svg-factory(#fb923c)};
}
