/* Prismjs theming (code highlighting) ===================================== */
:host(:not([theme='dark'])) {
  --prism-maintext: #393a34;
  --prism-background: #f6f8fa;
  --prism-border: #ddd;

  /* from https://github.com/FormidableLabs/prism-react-renderer/blob/master/src/themes/github.js */
  --prism-cdata: #999988;
  --prism-comment: var(--prism-cdata);
  --prism-doctype: var(--prism-cdata);
  --prism-prolog: var(--prism-cdata);

  --prism-attr-value: #e3116c;
  --prism-string: var(--prism-attr-value);

  --prism-boolean: #36acaa;
  --prism-entity: var(--prism-boolean);
  --prism-url: var(--prism-boolean);
  --prism-constant: var(--prism-boolean);
  --prism-inserted: var(--prism-boolean);
  --prism-number: var(--prism-boolean);
  --prism-property: var(--prism-boolean);
  --prism-regex: var(--prism-boolean);
  --prism-symbol: var(--prism-boolean);
  --prism-variable: var(--prism-boolean);

  --prism-atrule: #00a4db;
  --prism-attr-name: var(--prism-atrule);
  --prism-attr: var(--prism-atrule);

  --prism-operator: var(--prism-maintext);
  --prism-punctuation: var(--prism-maintext);

  --prism-deleted: #9a050f;
  --prism-function: var(--prism-deleted);

  --prism-function-variable: #6f42c1;

  --prism-selector: #00009f;
  --prism-tag: var(--prism-selector);
  --prism-keyword: var(--prism-selector);
}
:host([theme='dark']) {
  /* From https://atelierbram.github.io/syntax-highlighting/prism/demo/assets/css/prism-atom-dark.css */
  --prism-maintext: #d3d0c8;
  --prism-background: #1d1f21;
  --prism-border: var(--mut-gray-200);

  --prism-cdata: #7c7c7c;
  --prism-comment: var(--prism-cdata);
  --prism-doctype: var(--prism-cdata);
  --prism-prolog: var(--prism-cdata);

  --prism-punctuation: #c5c8c6;

  --prism-tag: #96cbfe;
  --prism-property: var(--prism-tag);
  --prism-keyword: var(--prism-tag);

  --prism-class-name: #ffffb6;

  --prism-boolean: #99cc99;
  --prism-constant: var(--prism-boolean);

  --prism-symbol: #f92672;
  --prism-deleted: var(--prism-symbol);

  --prism-number: #ff73fd;

  --prism-inserted: #a8ff60;
  --prism-selector: var(--prism-inserted);
  --prism-attr-name: var(--prism-inserted);
  --prism-string: var(--prism-inserted);
  --prism-char: var(--prism-inserted);
  --prism-builtin: var(--prism-inserted);

  --prism-variable: #c6c5fe;

  --prism-operator: #ededed;

  --prism-entity: #ffffb6;

  --prism-url: #96cbfe;

  --prism-attr-value: #f9ee98;
  --prism-atrule: var(--prism-attr-value);

  --prism-function: #dad085;

  --prism-regex: #e9c062;

  --prism-important: #fd971f;
}

/* File icon theming ================================ */
/* @see https://github.com/microsoft/vscode/blob/master/extensions/theme-seti/icons/vs-seti-icon-theme.json */
:host(:not([theme='dark'])) {
  --mut-file-ts-color: #498ba7;
  --mut-file-ts-test-color: #b7b73b;
  --mut-file-scala-color: #b8383d;
  --mut-file-java-color: #b8383d;
  --mut-file-js-color: #b7b73b;
  --mut-file-js-test-color: #cc6d2e;
  --mut-file-php-color: #9068b0;
  --mut-file-html-color: #498ba7;
  --mut-file-csharp-color: #498ba7;
  --mut-file-vue-color: #7fae42;
  --mut-file-gherkin-color: #00a818;
  --mut-file-svelte-color: #b8383d;
  --mut-file-rust-color: #627379;
  --mut-file-python-color: #498ba7;
}
:host([theme='dark']) {
  --mut-file-ts-color: #519aba;
  --mut-file-ts-test-color: #cbcb41;
  --mut-file-scala-color: #cc3e44;
  --mut-file-java-color: #cc3e44;
  --mut-file-js-color: #cbcb41;
  --mut-file-js-test-color: #e37933;
  --mut-file-php-color: #a074c4;
  --mut-file-html-color: #519aba;
  --mut-file-csharp-color: #519aba;
  --mut-file-vue-color: #8dc149;
  --mut-file-gherkin-color: #10b828;
  --mut-file-svelte-color: #cc3e44;
  --mut-file-rust-color: #6d8086;
  --mut-file-python-color: #519aba;
}

/* Mutation testing elements custom theming ================================ */

:host {
  /* red-500 */
  --mut-squiggly-Survived: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' height='3' width='6'><g fill='oklch(0.637 0.237 25.331)'><path d='m5.5 0-3 3H1.1l3-3z'/><path d='m4 0 2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/></g></svg>");
  /* orange-400 */
  --mut-squiggly-NoCoverage: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' height='3' width='6'><g fill='oklch(0.75 0.183 55.934)'><path d='m5.5 0-3 3H1.1l3-3z'/><path d='m4 0 2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/></g></svg>");
  color: var(--c);
}

:host(:not([theme='dark'])) {
  --mut-octicon-icon-color: #498ba7;
  --mut-line-number: #6e7781;
  --mut-diff-add-bg: #e6ffec;
  --mut-diff-add-bg-line-number: #ccffd8;
  --mut-diff-add-line-number: #24292f;
  --mut-diff-del-bg: #ffebe9;
  --mut-diff-del-bg-line-number: #ffd7d5;
  --mut-diff-del-line-number: var(--mut-diff-add-line-number);
  --mut-badge-info-bg: #54c6ec;
  --mut-badge-info: #212529;
  --mut-code-lense: #919191;
}
:host([theme='dark']) {
  color-scheme: dark;

  --mut-octicon-icon-color: #519aba;
  --mut-line-number: #484f58;
  --mut-diff-add-bg: rgba(46, 160, 67, 0.15);
  --mut-diff-add-bg-line-number: rgba(63, 185, 80, 0.3);
  --mut-diff-add-line-number: #c9d1d9;
  --mut-diff-del-bg: rgba(248, 81, 73, 0.15);
  --mut-diff-del-bg-line-number: rgba(248, 81, 73, 0.3);
  --mut-diff-del-line-number: #c9d1d9;
  --mut-badge-info-bg: #17a3b8;
  --mut-badge-info: #fff;
  --mut-code-lense: #999;
}

/* Dark mode colors */
:host([theme='dark']) {
  --mut-white: var(--color-zinc-900);

  --mut-gray-50: var(--color-zinc-900);
  --mut-gray-100: var(--color-zinc-800);
  --mut-gray-200: var(--color-zinc-700);
  --mut-gray-300: var(--color-zinc-600);
  --mut-gray-400: var(--color-zinc-500);
  --mut-gray-500: var(--color-zinc-400);
  --mut-gray-600: var(--color-zinc-300);
  --mut-gray-700: var(--color-zinc-200);
  --mut-gray-800: var(--color-zinc-100);
  --mut-gray-900: var(--color-zinc-50);
  /* --mut-gray: var(--color-zinc-500); */

  /* --mut-primary-50: var(--color-sky-900); */
  --mut-primary-100: var(--color-sky-800);
  /* --mut-primary-200: var(--color-sky-700); */
  /* --mut-primary-300: var(--color-sky-600); */
  /* --mut-primary-400: var(--color-sky-500); */
  /* --mut-primary-500: var(--color-sky-400); */
  /* --mut-primary-600: var(--color-sky-300); */
  /* --mut-primary-700: var(--color-sky-200); */
  --mut-primary-800: var(--color-sky-100);
  --mut-primary-900: var(--color-sky-50);
  /* --mut-primary: var(--color-sky-500); */
  --mut-primary-on: var(--color-sky-500);
}
