:host {
  --theme-d: 1.5em;
  --theme-s: 1.2em;
  --theme-p: 0.15em;
  --theme-g: 0.06em;
  --theme-width: 2.9em;

  --poly: polygon(
    44.133707561% 12.9616872277%,
    50% 0%,
    55.866292439% 12.9616872277%,
    59.7057141913% 13.7777815142%,
    63.4387981079% 14.9907340064%,
    67.0246437402% 16.5872553429%,
    79.3892626146% 9.5491502813%,
    76.5165042945% 23.4834957055%,
    79.1429735546% 26.4004853356%,
    81.450146298% 29.5760361869%,
    83.4127446571% 32.9753562598%,
    97.5528258148% 34.5491502813%,
    87.0383127723% 44.133707561%,
    87.4486075533% 48.0374016409%,
    87.4486075533% 51.9625983591%,
    87.0383127723% 55.866292439%,
    97.5528258148% 65.4508497187%,
    83.4127446571% 67.0246437402%,
    81.450146298% 70.4239638131%,
    79.1429735546% 73.5995146644%,
    76.5165042945% 76.5165042945%,
    79.3892626146% 90.4508497187%,
    67.0246437402% 83.4127446571%,
    63.4387981079% 85.0092659936%,
    59.7057141913% 86.2222184858%,
    55.866292439% 87.0383127723%,
    50% 100%,
    44.133707561% 87.0383127723%,
    40.2942858087% 86.2222184858%,
    36.5612018921% 85.0092659936%,
    32.9753562598% 83.4127446571%,
    20.6107373854% 90.4508497187%,
    23.4834957055% 76.5165042945%,
    20.8570264454% 73.5995146644%,
    18.549853702% 70.4239638131%,
    16.5872553429% 67.0246437402%,
    2.4471741852% 65.4508497187%,
    12.9616872277% 55.866292439%,
    12.5513924467% 51.9625983591%,
    12.5513924467% 48.0374016409%,
    12.9616872277% 44.133707561%,
    2.4471741852% 34.5491502813%,
    16.5872553429% 32.9753562598%,
    18.549853702% 29.5760361869%,
    20.8570264454% 26.4004853356%,
    23.4834957055% 23.4834957055%,
    20.6107373854% 9.5491502813%,
    32.9753562598% 16.5872553429%,
    36.5612018921% 14.9907340064%,
    40.2942858087% 13.7777815142%
  );
}

/* Checkbox */
#darkTheme {
  position: absolute;
  right: 100vw;

  + label {
    --i: 0;
    --j: calc(1 - var(--i));
    display: grid;
    grid-gap: var(--theme-p) var(--theme-g);
    overflow: hidden;
    padding: var(--theme-p);
    height: var(--theme-d);
    border-radius: calc(0.5 * var(--theme-s) + var(--theme-p));
    background: hsl(199, 98%, calc(var(--j) * 48%));
    color: transparent;
    user-select: none;
    transition: 0.3s;
    cursor: pointer;

    &:before,
    &:after {
      width: var(--theme-s);
      height: var(--theme-s);
      transition: inherit;
      content: '';
    }

    &:before {
      transform-origin: 20% 20%;
      transform: translate(calc(var(--i) * (100% + var(--theme-g)))) scale(calc(1 - var(--i) * 0.8));
      background: hsl(60, 100%, 50%);

      -webkit-clip-path: var(--poly);
      clip-path: var(--poly);
    }

    &:after {
      grid-column: 2;
      border-radius: 50%;
      transform: translatey(calc(var(--i) * (-130% - var(--theme-p))));
      background: radial-gradient(circle at 19% 19%, transparent 41%, #fff 43%);
    }
  }

  &:checked + label {
    --i: 1;
  }
}

.check-box-container {
  width: var(--theme-width);
}
