name: CI

on:
  push: ~
  pull_request: ~
  schedule:
    - cron: '0 12 * * *'

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [12.x, 14.x]
        os: [ubuntu-latest, windows-latest]

    steps:
      # https://github.com/ryanclark/karma-webpack/issues/494
      - name: Windows temp dir fix
        run: |
          echo TEMP="D:\Temp" >> $env:GITHUB_ENV
          echo TMP="D:\Temp" >> $env:GITHUB_ENV
        if: matrix.os == 'windows-latest'
      - uses: actions/checkout@v2.3.4
      - uses: coursier/cache-action@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.3.2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - name: Lint & Build & Test
        run: npm run all
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: image-diffs
          path: packages/elements/reports/diff/
