name: Mutation testing

on: 
  push: master

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install & Build
        run: |
          npm ci
          npm run build
      - name: Run Stryker
        run: |
          cd packages/mutation-testing-metrics
          npm run stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
  elements:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install & Build
        run: |
          npm ci
          npm run build
      - name: Run Stryker
        run: |
          cd packages/mutation-testing-elements
          npm run stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
  
  metrics-scala:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Run Stryker
        run: |
          cd packages/mutation-testing-metrics-scala
          export JAVA_OPTS="-XX:+CMSClassUnloadingEnabled -Xmx6G $JAVA_OPTS"
          npm run stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

