name: Mutation testing

on:
  push:
    branches:
      - master
      - test/**

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - name: Run Stryker
        run: |
          npm run build
          npx lerna run --stream --scope mutation-testing-metrics stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
  elements:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build
      - name: Run Stryker
        run: |
          npm run build
          npx lerna run --stream --scope mutation-testing-elements stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

  metrics-scala:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Stryker
        run: |
          npm run build
          npx lerna run --stream --scope mutation-testing-metrics-scala stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
