name: Release

on:
  push:
    tags: ['*']

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: ./.github/setup
        with:
          setup-java: true
      - name: Set Release Env
        run: |
          echo ${{ secrets.PGP_SECRET }} | base64 --decode | gpg --batch --import
      - run: npx nx run-many --target=build
      - name: Release
        run: npm run lerna:publish
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
