name: Update screenshots
on:
  workflow_dispatch:
jobs:
  update:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ vars.STRYKER_MUTATOR_APP_ID }}
          private_key: ${{ secrets.STRYKER_MUTATOR_NPA_KEY }}
      - uses: actions/checkout@v5
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - uses: ./.github/setup
      - run: npx playwright install chromium firefox --with-deps
      - run: npx nx run-many --target=build
      - run: npx nx run elements:test:integration:update
      - name: Commit
        run: |
          git config --global user.name "stryker-mutator[bot]"
          git config --global user.email 158062761+stryker-mutator[bot]@users.noreply.github.com
          git pull
          git add .
          git commit -m "test(screenshots): update screenshots for ${{ runner.os }}"
          git push
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
