name: Update screenshots
on: 
    workflow_dispatch:
jobs:
  update:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
      - run: npm ci
      - run: npm run build
      - run: npx lerna run test:integration:update
      - name: Commit
        run: |
          git config --global user.name 'Stryker Mutator NPA'
          git config --global user.email 'stryker-mutator@users.noreply.github.com'
          git pull
          git commit -am "test(screenshots): update screenshots for ${{ runner.os }}"
          git push