name: Update screenshots
on:
  workflow_dispatch:
jobs:
  update:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18.x]
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: npx nx run mutation-testing-elements:test:integration:update
      - name: Commit
        run: |
          git config --global user.name 'Stryker Mutator NPA'
          git config --global user.email 'stryker-mutator@users.noreply.github.com'
          git pull
          git add .
          git commit -m "test(screenshots): update screenshots for ${{ runner.os }}"
          git push
